<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="regristro">
      <h2 class="registroTitulo">Registrate</h2>
      <form action="">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="username"
          required
          placeholder="Ingrese su nombre"
        />
        <label for="email"> Email :</label>
        <input
          type="email"
          name="email"
          required
          placeholder="Ingrese su email"
        />
        <label for="">Ingrese una contraseña</label>
        <input
          type="password"
          name="password"
          placeholder=" Ingrese su contraseña"
        />
        <button type="submit">Registrate</button>
      </form>
    </section>
  </body>
</html>
